body {
  background-color: #fff;
  margin: 0;
}
form {
  margin: 0;
}
img {
  vertical-align: text-bottom;
}
pre {
  white-space: pre-wrap;
}
span.control {
  cursor: pointer;
}
span.control:hover {
  text-decoration: underline;
}

.Item__content,
.Item--loading {
  padding: 1em 1.25em 0 1.25em;
  margin-bottom: 1em;
}
.Item__title {
  color: #666;
  font-size:18px;
}
.Item__title a {
  text-decoration: none;
  color: #000;
}
.Item__title a:hover {
  text-decoration: underline;
}
.Item__title a:visited {
  color: #666;
}
.Item__meta {
  color: #666;
}
.Item > .Item__meta {
  margin-bottom: 1em;
}
.Item__meta a {
  text-decoration: none;
  color: inherit;
}
.Item__meta a:hover {
  text-decoration: underline;
}
.Item__meta em {
  font-style: normal;
  background-color: #ffffde;
  color: #000;
}
.Item__by a, .ListItem__newcomments a {
  font-weight: bold;
}
.Item__text {
  margin-top: 1em;
}
.Item__poll {
  margin-top: 1em;
  padding-left: 2.5em;
}

.PollOption {
  margin-bottom: 10px;
}
.PollOption__score {
  color: #666;
}

.PermalinkedComment > .Comment__content {
  margin-bottom: 1em;
}
.Comment {
}
.Comment--new > .Comment__content {
  background-color: #ffffde;
}
/* Highlights a comment and its descendants on hover -- too distracting?
.Comment:hover > .Comment__content {
  background-color: #fff;
}
*/
.Comment__meta {
  color: #666;
  margin-bottom: .5em
}
.Comment__meta a {
  text-decoration: none;
  color: inherit;
}
.Comment__meta a:hover {
  text-decoration: underline;
}
.Comment__meta em {
  font-style: normal;
  background-color: #ffffde;
  color: #000;
}
.Comment__user {
  font-weight: bold;
}
.Comment__content, .Comment--loading {
  padding-right: 1.25em;
  padding-top: .65em;
  padding-bottom: .65em;
}
.Comment--level0 .Comment__content, .Comment--level0.Comment--loading { padding-left: 1.25em; }
.Comment--level1 .Comment__content, .Comment--level1.Comment--loading { padding-left: 3.75em; }
.Comment--level2 .Comment__content, .Comment--level2.Comment--loading { padding-left: 6.25em; }
.Comment--level3 .Comment__content, .Comment--level3.Comment--loading { padding-left: 8.75em; }
.Comment--level4 .Comment__content, .Comment--level4.Comment--loading { padding-left: 11.25em; }
.Comment--level5 .Comment__content, .Comment--level5.Comment--loading { padding-left: 13.75em; }
.Comment--level6 .Comment__content, .Comment--level6.Comment--loading { padding-left: 16.25em; }
.Comment--level7 .Comment__content, .Comment--level7.Comment--loading { padding-left: 18.75em; }
.Comment--level8 .Comment__content, .Comment--level8.Comment--loading { padding-left: 21.25em; }
.Comment--level9 .Comment__content, .Comment--level9.Comment--loading { padding-left: 23.75em; }
.Comment--level10 .Comment__content, .Comment--level10.Comment--loading { padding-left: 26.25em; }
.Comment--level11 .Comment__content, .Comment--level11.Comment--loading { padding-left: 28.75em; }
.Comment--level12 .Comment__content, .Comment--level12.Comment--loading { padding-left: 31.25em; }
.Comment--level13 .Comment__content, .Comment--level13.Comment--loading { padding-left: 33.75em; }
.Comment--level14 .Comment__content, .Comment--level14.Comment--loading { padding-left: 36.25em; }
.Comment--level15 .Comment__content, .Comment--level15.Comment--loading { padding-left: 38.75em; }
.Comment__kids {
}
.Comment__collapse {
  cursor: pointer;
}
.Comment--collapsed .Comment__text,
.Comment--collapsed > .Comment__kids {
  display: none;
}
.Comment__text a {
  color: #000;
}
.Comment__text a:visited {
  color: #666;
}
.Comment__text p:last-child, .Comment__text pre:last-child {
  margin-bottom: 0;
}
.Comment--dead > .Comment__content > .Comment__text {
  color: #ddd !important;
}
.Comment--error .Comment__meta {
  color: #f33;
}

.UserProfile {
  padding-left: 1.25em;
  padding-top: 1em;
}
.UserProfile h4 {
  margin: 0 0 1em 0;
}

@media only screen and (max-width: 750px) and (min-width: 300px) {
  .App__wrap {
    width: 100%;
    margin: 0px auto;
  }

  /* Hide the App title homelink on narrow viewports */
  .App__homelink {
    display: none;
  }

  /* Safari only fix to ensure Settings menu is full width */
  _::-webkit-:not(:root:root), .Settings {
    width: 100%;
  }
}

/* Hide the Settings link on iPhone 5 */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .App__settings {
    display: none;
  }
}
