body {
  background-color: #fff;
  margin: 0;
}
form {
  margin: 0;
}
img {
  vertical-align: text-bottom;
}
pre {
  white-space: pre-wrap;
}
span.control {
  cursor: pointer;
}
span.control:hover {
  text-decoration: underline;
}

.PollOption {
  margin-bottom: 10px;
}
.PollOption__score {
  color: #666;
}

.UserProfile {
  padding-left: 1.25em;
  padding-top: 1em;
}
.UserProfile h4 {
  margin: 0 0 1em 0;
}

@media only screen and (max-width: 750px) and (min-width: 300px) {
  .App__wrap {
    width: 100%;
    margin: 0px auto;
  }

  /* Hide the App title homelink on narrow viewports */
  .App__homelink {
    display: none;
  }

  /* Safari only fix to ensure Settings menu is full width */
  _::-webkit-:not(:root:root), .Settings {
    width: 100%;
  }
}

/* Hide the Settings link on iPhone 5 */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .App__settings {
    display: none;
  }
}
